<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" th:src="@{/js/ldap.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"></script>
</head>
<body>
    <table>
        <th>글번호</th>
        <th>제목</th>
        <th>작성자</th>
        <th>작성일</th>
        <th>수정일</th>
        <th>글타입</th>
        <tr th:each="board : ${boards}" th:href="@{/board/detail/board.id}">
            <td th:text="${board.getBoardID()}"></td>
            <td th:text="${board.getTitle()}"></td>
            <td th:text="${board.getWriteUser()}"></td>
            <td th:text="${board.getCreatedDate().toString()}"></td>
            <td th:text="${board.getUpdateDate().toString()}"></td>
            <td th:text="${board.getBoardType()}"></td>
        </tr>
    </table>

</body>
</html>